/* Universal css */
* {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border-radius: 10px;
    background-color: #00baf2;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

@keyframes height-inc {
    from {
        height: 14rem;
    }

    to {
        height: 18rem;
        ;
    }
}

.list{ margin: 2rem;}

.default {
    --primary-color: rgb(193 193 193 / 89%);
    --background-default: linear-gradient(135deg, rgb(255, 255, 255), rgb(0, 247, 255));
    --in-default: #fff;
    --hover: rgb(174, 0, 255);
    --contact-color: antiquewhite;
    --text: #000000;
    --head: linear-gradient(90deg, rgba(207, 255, 253, 0.836), rgba(0, 255, 179, 0.904));
    ;
}

.dark {
    --primary-color: #071424a8;
    --background-default: linear-gradient(90deg, rgba(58, 56, 56, 0.836), rgba(37, 32, 36, 0.904));
    --in-default: #323232;
    --hover: #010408a8;
    --contact-color: rgb(141 155 151 / 37%);
    --text: #fff;
    --head: linear-gradient(90deg, rgba(24, 22, 22, 0.836), rgba(37, 32, 36, 0.904));
}

.body {
    background: var(--background-default);
}

a:hover {
    color: var(--hover);
    font-size: 14px;
    transition: 0.5sec ease-in;
}

/* header css */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background: var(--head)
}

.logo {
    box-shadow: var(--shadow);
    border-radius: 16px;
    font-weight: 700;
    font-size: 25px;
    padding: 0.5rem;
    text-align: center;
    background: var(--logo);
    list-style: none;
}

.slink {
    color: rgb(51, 255, 0);
    margin: 1em 1rem 1rem 24rem;
}

.srlink {
    color: rgb(51, 255, 0);
    margin: 1em 24rem 1rem 1rem;
}

.short-intro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 8px;
    background: var(--in-default);
    margin: 0;
}

.short-intro span {
    font-size: 15px;
    font-weight: 800;
}

/* About */

.image img {
    height: 14rem;
    border-radius: 3rem;
}

.image img:hover {
    animation-name: height-inc;
    animation-duration: 4s;
}

#about {
    padding: 2rem;
}

.intro {
    margin: 2rem;
    padding: 2em;
}

.image {
    margin-left: 6rem;
}


/* payment */
#payment {
    padding: 2rem;
}

.pay {
    margin: auto;
    padding: auto;

}

/* footer */
.footer {
    background: var(--in-default);
    display: flex;
    width: 30vw;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 1rem;
}

.copy {
    margin: 1rem;
    float: right;
    display: block;
    text-align: center;
}

@media (max-width:1052px) {
    .slink {
        margin: 1em 1rem 1rem 1rem;
    }

    .srlink {
        margin: 1em 1rem 1rem 1rem;
    }

    .text-intro {
        padding: 1rem;
        font-size: 1.3rem;
        width: 40%;
    }

    .intro {
        margin: 1rem;
        padding: 1rem;
    }

    .footer {
        width: 80vw;
        bottom: 20px;
        margin-left: 8vw;

    }
}

@media (max-width:626px) {
    .text-intro {
        width: 100%;
    }

    .image {
        border-radius: 5px;
        margin: auto;
    }

    .footer {
        position: static;
    }

    .copy {
        float: none;
        margin: 0;
    }
}

@media (max-width:335px) {

    * {
        overflow-x: auto;
    }

    ::-webkit-scrollbar {
        height: 1px;
        width: 1px;
    }

    ::-webkit-scrollbar-thumb {
        height: 2px;
        border-radius: 10px;
        background-color: #00baf2;
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

    .image img {
        height: 9rem;
    }

    .text-intro {
        margin: 0;
        padding: 0;
        font-size: 0.7rem;
    }

    .logo {
        font-size: 16px;
        padding: 0;
    }
}

@media (max-width:179px) {
    .image img {
        height: 4rem;
    }
}