a {
    text-decoration: none;
    color: #4e085f;
}

li {
    list-style: none;
}

.btn {
    background: var(--primary-color);
    padding: 0.4rem;
    margin: 1rempx;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
}

.btn:hover {
    font-size: 16px;
    font-weight: 550;
    transition: .5s ease-in;
}


.link {
    margin: 1rem;
    color: rgb(51, 255, 0);
    cursor: pointer;
    transition: .25s ease-in;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.text-sm {
    margin: 2rem;
    padding: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
}


.text-xlg {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: 540;

}

.w-50 {
    margin: auto;
    width: 60%;
}

@media (max-width:335px) {

    .w-50 {
        margin: auto;
        width: 100%;
    }

    .text-xlg {
        margin: 0.1rem;
        padding: 0.1rem;
        font-size: 1.1rem;
        font-weight: 570;

    }
}

@media (max-width:179px) {
    .text-xlg {
        margin: 0.1rem;
        padding: 0.1rem;
        font-size: 1rem;
        font-weight: 500;
    }
}