a {
    text-decoration: none;
    color: #4e085f;
}

li {
    list-style: none;
}

.btn {
    background: var(--primary-color);
    padding: 11px;
    margin: 6px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: var(--text);
}

.btn:hover {
    background: var(--hover);
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: .5s ease-in;
}


.link {
    margin: 1rem;
    color: black;
    cursor: pointer;
    transition: .25s ease-in;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.text-sm {
    margin: 2rem;
    padding: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
}


.text-xlg {
    margin: 2rem;
    padding: 2rem;
    font-size: 2em;
    font-weight: bold;

}

.w-50 {
    width: 50%;
}